/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab');



/* Default body */
body {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  color: #555555;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.section {
    padding: 100px 0;
    background-color: #fff;
}

.section_gray {
    background-color: #f8f8f8;
}

.button {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    width: 180px;
    line-height: 45px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1px;
}

.button:hover {
    color: #c0301c;
    background-color: #fff;
    transition: .4s;
}


/* Header */
.header {
    height: 100vh;
    background-color: #555;
    background: url(../img/header-bg.jpg) no-repeat center top;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.logo {
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.menu {
    display: flex;
}

.menu__item {
    list-style: none;
    padding-left: 25px;
}

.menu__link {
    font-family: 'Montserrat';
    text-decoration: none;
    color: #fff;
}

.menu__link:hover {
    color: #999;
    transition: .4s;
}

.heading {
    color: #fff;
    text-align: center;
    padding-top: 32vh;
}

.heading__title {
    font-size: 48px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}

.heading__subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}


/* Section Service */
.section__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 400;
}

.section__title::after {
    padding-top: 30px;
    display: block;
    content: "";
    border-bottom: 2px solid #555;
    width: 50px;
    margin: 0 auto;
}

.section__text {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 70px;
    margin: 0;
}

.service-block {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service-box:hover .service-box__icon {
    color: #fff;
    background-color: #c0301c;
    transition: .6s;
}

.service-box__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #c0301c;
    border: 2px solid #ddd;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.service-box__icon:hover {
    color: #fff;
}

.service-box__title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
}

.service-box__text {
    width: 350px;
    line-height: 1.7;
}


/* Section About */
.about-block {
    display: flex;
    justify-content: space-between;
}

.about-block__text {
    width: 565px;
    line-height: 1.7;
}

.people-block {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
   
}

.people-item {
    text-align: center;
}

.people-item__img {
    position: relative;
    width: 263px;
    height: 250px;
}

.people-item__img_hover {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(150, 150, 150, .5);
    bottom: 0;
    left: 0;
    opacity: 0;
}

.people-item__img_hover:hover {
    opacity: 1;
    transition: .6s;
}

.hover-social {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.hover-social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 10px;
    margin-top: 70%;
    width: 30px;
    height: 30px;
}

.hover-social__link {
    color: #fff;
}

.hover-social__item:hover {
    background: #c0301c;
    transition: .4s;
}

.people-item__name {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.people-item__position {
    font-size: 13px;
}


/* Section Works */
.works-menu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
}

.works-menu__item {
    list-style: none;
    padding-left: 30px;
}

.works-menu__link {
    text-decoration: none;
    font-size: 16px;
    color: #555555;
}

.works-menu__link:hover {
    color: #d36e60;
    transition: .4s;
}

.works-menu__link_active {
    color: #c0301c;
}

.works-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 75px;
}

.works-item {
    margin-bottom: 2.63vw;
}

.works-item {
    position: relative;
}

.works-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 320px;
    top: 0;
    left: 0;
    background: rgba(192, 48, 28, .7);
    color: #fff;
    text-align: center;
    opacity: 0;
}

.works-hover:hover {
    opacity: 1;
    transition: .6s;
}

.works-hover__title {
    font-family: 'Montserrat';
    font-size: 18px;
}

.works-hover__subtitle {
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 12px;
}

.button_view {
    width: 100px;
    background: #fff;
    color: #c0301c;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_triagle {
    padding-left: 12px;
    font-size: 14px;
}


/* Page Like */
.page-like {
    background: url(../img/like-bg.jpg) no-repeat center;
    background-size: cover;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-like__title {
    font-size: 30px;
    color: #fff;
    padding-bottom: 30px;
}

.button_touch {
    text-align: center;
    margin-top: 50px;
}

.page-like__title_upper {
    text-transform: uppercase;
}


/* Section Blog */
.blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid #ddd;
    transition: 1s;
}

.blog:first-of-type {
    padding-top: 0;
}

.blog:nth-last-of-type(1) {
    border-bottom: none;
    padding-bottom: 0;
}

.blog:hover .blog-header-info__title {
    color: #c0301c;
    transition: .6s;
}

.blog:hover .blog-content__more {
    color: #c0301c;
    transition: .6s;
}

.blog:hover .author_hover {
    color: #c0301c;
    transition: .6s;
}

.blog-header {
    display: flex;
    align-items: center;
}

.blog-header-info {
    margin-left: 25px;
}

.blog-header-info__title {
    font-size: 16px;    
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.blog-header-info__author {
    font-style: italic;
}

.blog-header__data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    border: 2px solid #555;
}

.data {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #777777;
}

.data__number {
    display: block;
}

.data__month {
    text-transform: uppercase;
}

.blog-content {
    margin-left: 40px;
}

.blog-content__text {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 24px;
    color: #555;
}

.blog-content__more {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    color: #777;
    letter-spacing: 1px;
}


/* Section Clients */
.clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clients__item {
    list-style: none;
}

.testimonials-wrapp {
    margin-top: 65px;
}

.testimonials {
    text-align: center;
    width: 770px;
    margin: 0 auto;
}

.testimonials__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    font-style: italic;
}

.testimonials__author {
    font-size: 20px;
}

/* Section Contact */
.contact {
    position: relative;
    margin-left: 25px;
}

.contact-box {
    display: flex;
    justify-content: space-between;
}

.contact__icon {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: -3px;
    margin-left: -25px;
}

.contact__title {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 40px;
}

.contact__title_first {
    margin-top: 0;
}

.contact__text {
    line-height: 20px;
    font-size: 12px;
}

.contact-form {
    width: 730px;
}

.contact-form__wrap {
    display: flex;
    align-items: center;
}

.input {
    display: flex;
}

.input__item {
    width: 350px;
    height: 44px;
    border: 1px solid #555555;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.input__item:focus {
    border: 1px solid #c0301c;
    outline: none;
}

.textarea {
    width: 682px;
    height: 104px;
    resize: none;
}

.button_input {
    color: #555;
    border-color: #555;
    text-align: center;
    margin: 0;
}

.contact-form__info {
    margin-left: 38px;
}

.contact-form__color {
    color: #c0301c;
}


/* Footer */
.footer {
    text-align: center;
    background-color: #c0301c;
    color: #fff;
    height: 307px;
    display: flex;
    align-items: center;
}

.contact-list {
    display: flex;
    padding: 0;
    justify-content: center;
}

.contact-list__item {
    list-style: none;
    padding-left: 14px;
}

.contact-list__link {
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    background-color: #c0301c;
    border-radius: 50%;
    transition: .2s ease-in;
}

.contact-list__link:hover {
    color: #c0301c;
    background-color: #fff;
}

.author {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

.author:before {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 30px auto;
}